@using ICollection.Service.ViewModels.CollectionViewModels
@model List<CollectionViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                CollectionName
            </th>
            <th>
                Topics
            </th>
            <th>
                LikeCount
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start">
                    <span class="fw-bold px-sm-0 text-gray-500">@item.Name</span>
                </td>
                <td class="text-start">
                    <span class="fw-bold text-gray-500">@item.Topics</span>
                </td>
                <td class="text-start">
                    <span class="fw-bold text-gray-500">@item.LikeCount</span>
                </td>
                <td>
                    <a asp-controller="items" asp-action="getall" asp-route-id="@item.Id">View Items</a> |
                    <a asp-controller="collections" asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="collections" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>