@using ICollection.Service.ViewModels.ItemViewModels
@model List<ItemViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-controller="items" asp-action="create" asp-route-collectionId="@ViewBag.collectionId">Create a new item</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                ItemName
            </th>
            <th>
                Description
            </th>
            <th>
                LikeCount
            </th>
            <th>
                Like
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start">
                    @if (item.ImagePath is null)
                    {
                        <img src="~/media/images/new-collection.jpg" alt="Image" style="width: 80px; height: 80px;" />
                    }
                    <img src="~/@item.ImagePath" alt="Image" style="width: 80px; height: 80px;" />
                </td>
                <td class="text-start">
                    <span class="fw-bold px-sm-0 text-gray-500">@item.Name</span>
                </td>
                <td class="text-start">
                    <span class="fw-bold text-gray-500">@item.Description</span>
                </td>
                <td class="text-start">
                    <span class="fw-bold text-gray-500">@item.LikeCount</span>
                </td>
                <td>
                    <a asp-controller="items" asp-action="likeitem" asp-route-collectionId="@item.Id">
                        <button class="like-button" onclick="toggleLike()">Like</button>
                    </a>
                </td>
                <td>
                    <a asp-controller="comments" asp-action="Index" asp-route-id="@item.Id">View Comments</a> |
                    <a asp-controller="items" asp-action="update" asp-route-id="@item.Id">Edit</a> |
                    <form asp-controller="items" asp-action="delete" asp-route-id="@ViewBag.CollectionId" asp-route-itemId="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
